.theme {
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  margin-left: auto;
  border: 0;
  background-color: transparent;
  padding: 5px;
  margin-right: 15px;
  font-size: var(--font18);
  color: #008fff;
  font-weight: 600;
}

@media (max-width: 930px) {
  .theme {
    margin: 0 auto;
    margin-top: 10px;
    justify-content: center;
    font-size: var(--font22);
  }
}

.invalPanel {
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  left: 0;
  top: 0;
  width: 100%;
  padding: 30px 0;
  background-color: #2c3f50;
  justify-content: center;

  &_content {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    justify-content: center;
    top: -5px;

    h4 {
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      color: whitesmoke;
    }

    div {
      margin-right: 30px;

      div {
        display: flex;
        justify-content: space-around;
        margin: 0;
        margin-top: 10px;
      }
    }

    button {
      padding: 8px 13px;
      background-color: #b6b6b6;
      color: black;
      font-size: 18px;
      font-weight: 500;
      border: 0;
      outline: 0;

      &:nth-child(1) {
        margin-right: 10px;
      }
    }

    &_color {
      button {
        &:nth-child(1) {
          background-color: white;
        }
        &:nth-child(2) {
          background-color: #2b2d35;
          color: white;
        }
      }
    }
  }
}

@media (max-width: 740px) {
  .invalPanel {
    height: 100%;
    align-items: center;
    &_content {
      div {
        margin-bottom: 20px;
      }
    }
  }
}
